<div class="maincontent">

    <article class="article">
      <h1 class="article-title">About Me</h1>
        <p>A true societal engineer, Emily has collaborated in various team projects blah.</p>
    </article><!-- article -->
  
  
  </div>